<h3>Chart 1: Arc generators</h3>
<p>
  Just like the line and area generators take a list of datapoints to create lines/shapes, the arc generator does the same thing.
</p>
<div id="chart-1">
</div>

<script type="text/javascript" src="scripts/classwork-12/01-arc-generator.js"></script>