<h3>Chart 3: Radial area graphs</h3>
<p>Sick of simple lines? Looking for a solid, shape-like fill? <strong>Done.</strong></p>
<p></p>
<div id="chart-3">
</div>


<script type="text/javascript" src="scripts/classwork-12/03-radial-area.js"></script>