<h3>Chart 6: Polar scatterplot</h3>
<p>I don't know why you'd ever use this, but we'll do it anyway.</p>
<div id="chart-6">
</div>


<script type="text/javascript" src="scripts/classwork-12/06-polar-scatter.js"></script>