<h3>Chart 7: Pie chart</h3>
<p>A lot of people hate them, but I really enjoy pie charts in small multiples.</p>
<div id="chart-7">
</div>

<script type="text/javascript" src="scripts/classwork-12/07-pie.js"></script>