<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
<div class="container">
  {{> base/headline }}

  {{> homework-07/bar_chart }}
  
  {{> homework-07/line_chart }}

  {{> homework-07/slope_graph }}
  
  <script src="scripts/01-bar-chart.js"></script>
  <script src="scripts/02-line-chart.js"></script>
  <script src="scripts/03-slope-graph.js"></script>

</body>
</html>