---
headline: "R A D I A L * C H A R T S / A R C S"
kicker: "Tired of <a href='https://www.youtube.com/watch?v=kkjg3SgUUkY'>bars</a>? \
</a>Let's mix it up: radial charts will either make you <a href='https://www.youtube.com/watch?v=rJAcMxkjCTs'>impressed</a> or \
<a href='https://www.youtube.com/watch?v=k2GHj5jzzj0'>depressed</a>."
---

{{!< bootstrap}}

<div class="row mt-3">
  <div class="col-12">

    {{> classwork-12/01-arc-generator }}
    {{> classwork-12/02-radial-line }}
    {{> classwork-12/03-radial-area }}
    {{> classwork-12/04-empty-middles }}
    {{> classwork-12/05-polar-bar }}
    {{> classwork-12/06-polar-scatter }}
    {{> classwork-12/07-pie }}

  </div>
</div>