<div class="row">
  <div class="col-12">
    <h3>1. A bar chart about countries</h3>
    <p><strong>Build a bar chart of different countries' life expectancies.</strong> I want the buttons to highlight what they say they should highlight.</p>
    <p>You can pick what a low GDP is. Make sure your axes are looking correct.</p>
    <p>
      <a class="btn btn-warning" id='button-asia'>Asia</a>
      <a class="btn btn-warning" id='button-africa'>Africa</a>
      <a class="btn btn-warning" id='button-namerica'>North America</a>
      <a class="btn btn-warning" id='button-lowgdp'>Low GDP countries</a>
      <a class="btn btn-warning" id='button-continent'>Color by continent</a>
      <a class="btn btn-warning" id='button-reset'>Reset</a>
    <div id="bar-chart"></div>
  </div>
</div>
