---
headline: "Recording the Toll of Atomic Bombs"
subhead:
published_date: "October 11, 2019"
site: 
siteName: "Toll of Atomic Bombs"
url:
kicker:
author:
    name: "Minami Funakoshi"
    url:
    twitterHandle: "@MinamiFunakoshi"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}


<div class="story-body">
    <p>On August 6, 1945, at 8:15 am, the United States dropped the world’s first atomic bomb on Hiroshima. Buildings crumbled; homes exploded into flames; flesh melted. The heat branded the patterns of the kimono onto the skin of survivors. Some were vapourised, leaving nothing but a shadow etched onto stone.</p>
    <p>Three days later, at 11:02 am on August 9, the United States dropped a second atomic bomb on the port city of Nagasaki.</p>
    <p>The bombs killed thousands instantly. Others died slowly from burns, radiation sickness and other injuries in the months and years that followed.</p>
    <p>In 1952, seven years after the bombing of Hiroshima, the city began compiling a list of those who had been killed by the atomic bomb. Nagasaki city began its own list in 1968, over two decades after the bombings.</p>
    <p>Every year, on August 6 and 9, Hiroshima and Nagasaki hold memorial services to rememeber those killed by the bombs and to pray for world peace. As part of the ritual, they add the names of those who were newly registered in the lists.</p>
    <p>The two cities have different requirements for who can be included in their lists. In both, relatives of the deceased apply to register the deaths. Hiroshima accepts applications for all victims, regardless of nationality or whether they were recognised by the government as being hibakusha, or atomic bomb survivors. Nagasaki accepts only those who had been recognised by the government as being hibakusha. (Read more about this  <a href="https://m3298.github.io/data-studio-projects/4-atomic-bombs/page/sticky-original">here</a>)</p>

</div>


{{> story/chart }}

<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->
