---
headline: "Sake in America: A Rip-Off"
subhead: "How much are you overpaying for your sake?"
published_date: "October 11, 2019"
site: 
siteName: "Sake in America"
url:
kicker:
author:
    name: "Minami Funakoshi"
    url:
    twitterHandle: "@MinamiFunakoshi"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<div class="story-body">
    <p>Sake, or Japanese rice wine, is increasingly popular in the United States - and sold at a staggering premium. The three most marked-up sakes sold by Sakaya, a sake retailer in New York City, were ones that cost around 50 dollars in Japan. Kyokusen, with the highest premium, costs almost 300 percent more on Sakaya than in Japan.</p>
<br><br>
{{> story/sake-chart }}

<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->
<br><br>
    <p>Sake, or Japanese rice wine, is made by fermenting grains of rice that have been polished to remove the bran. Sake is classified according to how much of each grain of rice is polished away. In general, the more polished the rice, the higher the quality and price of the sake. 'Daiginjo' and 'junmai daiginjo' - which have more than half of the rice milled away - are generally considered to have more complexity and fragrance.</p>
    <p>INSERT AI2HTML HERE</p>
    <h2>Why does Kyokusen cost almost 300 percent more in America than in Japan?</h2>
    <p>I don't know! Kyokusen does have a relatively high rice polish of 40 percent, but Tatenokawa 18, which has a polish of 18 percent, costs only 55 percent more on Sakaya than in Japan. Kyokusen did win a silver medal in the junmai daiginjo category at the 2017 International Wine Challenge, one of the most influential wine competitions in the world, but so did Tatenokawa 18.</p>

</div>
