<div class="story-body">
  <p>Hi, I'm Minami. Journalist at <a href="https://www.reuters.com/journalists/minami-funakoshi">Reuters</a>. Mostly text reporting, filmed and edited video for Reuters Video News, too. 
  <p>I grew up in Japan, Malaysia, and India. Hopped around Beijing, Taipei and Tokyo, and now I'm in NYC. Languages are dear to my heart.</p>
  <p>I learned to code and make data viz at the <a href="http://ledeprogram.com/">Lede Program</a>. I also like to draw.</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/cat.jpg"></p>
</div>