<div class="story-body">
    <h2>Recording A-Bomb Deaths (D3)</h2>
    <p>By the end of 1945, the atomic bombs had killed an estimated 214,000 people in Japan.<br>To remember them, the two cities began recording their deaths.</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>

<div class="story-body">
<p class='chart-source'>Sources: Hiroshima and Nagasaki city hall</p>
          <p class='chart-source'>Notes: Relatives of the deceased apply to the city halls to register the deaths. Many victims are unidentified,and the lists do not include everyone who was killed by the bombs.</p>
          </div>