<div class="story-body">
    <h2>Dear sake lovers, you're being ripped off! (D3)</h2>
    <p>Price of the top 5 most expensive sake sold by Sakaya NYC vs the price listed online in Japan</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/chart-02.js"></script>

<div class="story-body">
<p class='chart-source'>Sources: Sakaya, Amazon.co.jp, Rakuten, Kakaku.com, Sake-Marui, Isetan, Tatenokawa, Nishiyama Sake Brewery</p>
<p class='chart-source'>Note: Prices of sake in Japan were converted to the US dollar at 0.0093 yen = 1 USD. Sake not available or no longer sold in Japan were excluded from the chart.</p>
          </div>